services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        - VITE_API_BASE_URL=${VITE_API_BASE_URL}
        - VITE_WS_BASE_URL=${VITE_WS_BASE_URL}
        - VITE_THIRDWEB_CLIENT_ID=${VITE_THIRDWEB_CLIENT_ID}
    environment:
      NODE_ENV: production
    ports:
      - 3000:3000