/*==================== Font faces (inchangés) ====================*/
@font-face {
  font-family: "GilroyBold";
  src: url("assets/fonts/Gilroy-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "GilroyBlack";
  src: url("assets/fonts/Gilroy-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Medium.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "PoppinsBold";
  src: url("assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "PoppinsMedium";
  src: url("assets/fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "PoppinsRegular";
  src: url("assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "DMSansRegular";
  src: url("assets/fonts/DMSans-VariableFont.ttf");
  font-weight: 400;
}

:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial;
}

body {
  margin: 0;
  background: #0b0f14;
}

a {
  color: inherit;
}

.container {
  padding: 16px;
  max-width: 720px;
  margin: 0 auto;
}

.card {
  background: white;
  border: 1px solid #22304a;
  border-radius: 12px;
  padding: 14px;
  margin: 12px 0;
}

.title {
  font-family: PoppinsBold;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #011e3f;
}

.brand {
  color: #0077ff;
}

.step {
  font-family: PoppinsMedium;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #676767;
}

.step-stage {
  font-family: PoppinsBold;
  color: #0077ff;
}

.row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.subtitle {
  font-size: 18px;
  color: #1b2224;
}
.sub-subtitle {
  margin: 0;
}

.btn {
  background: #0077ff;
  border: 0;
  color: white;
  padding: 10px 12px;
  border-radius: 12px;
  cursor: pointer;
  font-family: PoppinsBold;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
}

.tw-connect-wallet {
  border: 1px solid #0077ff !important;
  color: #0077ff !important;
  
}

.tw-connect-wallet:hover {
  background: #0077ff !important;
  color: white !important;
  transition: all 0.4s ease-in-out;
}

.link-block {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 24px;
  gap: 8px;
}

.menu-text {
  font-family: Roboto;
  font-size: 16px;
  margin: 0;
}

img {
  width: 22px;
  height: 14px;
  margin-top: 2px;
}

.btn-menu {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-family: PoppinsMedium;
  font-weight: 700;
  font-size: 16px;
  color: #676767;
  text-decoration: none;
}

.menu-title {
  color: #0077ff;
}

.btn-transfer {
  background: transparent;
  border: 2px solid #0077ff;
  color: #0077ff;
  padding: 10px 12px;
  margin-top: 20px;
  border-radius: 12px;
  cursor: pointer;
  font-family: PoppinsMedium;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
}

.kyc-link {
  text-decoration: none;
}

.kyc-statut {
  color: #0077ff;
}

.btn.secondary {
  background: #22304a;
}

.muted {
  font-family: PoppinsRegular;
  color: #1b2224;
  font-size: 16px;
}

.badge {
  display: flex;
  width: fit-content;
  height: 23px;
  justify-content: center;
  align-items: center;
  border-radius: 23px;
  background: #0077ff0d;
  font-family: PoppinsRegular;
  font-weight: 500;
  font-size: 12px;
  color: #1b2224;
  padding: 0px 10px 0px 10px;

}

.statut-key {
  margin: 0;
}

.transfer-details {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-content: center;
  font-family: PoppinsRegular;
  font-size: 16px;
  margin-bottom: 6px;
  color: #1b2224;
}

hr {
  border: 0;
  border-top: 1px solid #22304a;
  margin: 12px 0;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #22304a;
  background: #0b0f14;
  color: #e7eef7;
  width: 100%;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fields {
  width: 100%;
}

.label {
  display: flex;
  width: fit-content;
  height: 24px;
  justify-content: center;
  align-content: center;
  border-radius: 100px;
  /*box-shadow: "1px 1px 4px 1px rgba(0, 0, 0, 0.25)"*/;
}
 .date {
  font-family: PoppinsMedium;
  font-size: 14px;
  color: #BDBDBD;
 }
.created {
  background-color: #ededed;
  color: #4f4f4f;
  font-size: 15px;
  padding: 5px 10px 0px 10px;
}

.processing {
  background-color: #ccd2d9;
  color: #011e3f;
  font-size: 15px;
  padding: 5px 10px 0px 10px;
}

.deposited {
  background-color: #fff8e6;
  color: #fcba04;
  font-size: 15px;
  padding: 5px 10px 0px 10px;
}

.transferred {
  background-color: #e6f1ff;
  color: #0077ff;
  font-size: 15px;
  padding: 5px 10px 0px 10px;
}

.completed {
  background-color: #e6f9ee;
  color: #219653;
  font-size: 15px;
  padding: 5px 10px 0px 10px;
}
.cancelled {
  background-color: #fce4e4;
  color: #eb5757;
  font-size: 15px;
  padding: 5px 10px 0px 10px;
}
.failed {
  background-color: #FFE5C2;
  color: #FEA82F;
  font-size: 15px;
  padding: 5px 10px 0px 10px;
}

.status-value {
  margin: 0;
  font-family: Roboto;
  font-weight: 500;
}
